body{
    background-color: white;
}

form {
    background-color: aliceblue;
    max-width: 500px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}

select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}

textarea{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}

/* radio buttons */

.hobby-options {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.hobby-option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}


/* submission section */

.submission {
    display: flex;
    align-items: center;
    margin: auto;
}

.submission input[type="checkbox"] {
    width: auto;
}


label{
    display: block;
}

label[for*="full_name"], 
label[for*="email"], 
label[for*="password"], 
label[for*="agree"] {
    color: red;
}