body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

form {
    background-color: aliceblue;
    max-width: 500px;
    padding: 25px;
    margin: 0 auto;
    border-radius: 8px;
}

fieldset {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

/* radio buttons */
.hobby-option input[type="radio"] {
    width: auto;
    margin-right: 10px;
    margin-bottom: 0;
}

.hobby-options {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.hobby-option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}


/* submission section */

.submission {
    display: flex;
    align-items: center;
    margin: 10px;
}

.submission input[type="checkbox"] {
    width: auto;
    margin-right: 10px; /*adds space between the label of terms and conditions and the checkbox*/
    margin-bottom: 0; /*getting rid of this bottom margin as well*/
}

button {
    background-color: lightseagreen;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-weight: bolder;
    color: white;
    font-size: medium;
    border: none;
}

label{
    display: block;
}

label[for*="full_name"], 
label[for*="email"], 
label[for*="password"], 
label[for*="agree"] {
    color: red;
}