body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    /* bg image */
    background-image: url('images/moroccan-flower-dark.png');
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
