body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f0f0f0;
}

.topnav {
    background-color: grey;
    overflow: hidden;
    text-align: center;
    position: sticky;
    top: 0;
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    /* the transform is for a smooth hover */
    transition: transform 0.3s ease, background-color 0.3s;
}

.topnav a:hover {
    background-color: #c8102e; /* NBA red */
    /* scale on hover */
    transform: scale(1.1);
}