/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

nav ul li{
    list-style-type: square; /* this should make the bullet points into squares */
    color: aqua;
}

nav a {  /* color for default link */
    color:blueviolet  
}

nav a:hover {
    color:chartreuse
}

nav a:active {
    color: deeppink;
}

nav a:visited {
    color: crimson;
}
/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
    background-color: burlywood;
    padding: 20px;
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main > section {
    width: calc(70% - 1px);
    float: left;
    text-align: left;
    padding: 1rem;
    border-right: 1px solid black /* this specifices the type of broder */
}

aside {
    float: right;
    width: 30%;
}
/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer { 
    background-color: burlywood;
    text-align: center;
    padding: 20px;
    clear: both; /*have to add this to stop the image/text from overflowing into the footer*/
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/

